<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NortwindDBConnection" connectionString="data source=.\mssql2008r2;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrdersService" maxReceivedMessageSize="524288" />
                <binding name="BasicHttpBinding_ICategoriesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WCFServices/Orders.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdersService"
                contract="OrdersServiceReference.IOrdersService" name="BasicHttpBinding_IOrdersService" />
            <endpoint address="http://localhost/WCFServices/Categories.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoriesService"
                contract="CategoriesServiceReference.ICategoriesService" name="BasicHttpBinding_ICategoriesService" />
        </client>
    </system.serviceModel>
</configuration>