<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="NortwindDBConnection" connectionString="data source=.\mssql2008r2;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IncreasedMaxReceivedMessageSize" maxReceivedMessageSize="524288" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40000/OrdersService" 
                      binding="basicHttpBinding"
                      contract="WCFOrdersService.IOrdersService"
                      bindingConfiguration="IncreasedMaxReceivedMessageSize"
                      name="basicHttpBinding" />
        </client>
    </system.serviceModel>
</configuration>