<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="NortwindDBConnection" connectionString="data source=.\mssql2008r2;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="IncreasedMaxReceivedMessageSize" maxReceivedMessageSize="524288" />
        </basicHttpBinding>
      </bindings>
      <behaviors>
        <serviceBehaviors>
          <behavior name="srvMetadata">
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service behaviorConfiguration="srvMetadata" name="OrderService.OrdersService">
          <endpoint address="" binding="basicHttpBinding" bindingConfiguration="IncreasedMaxReceivedMessageSize"
            name="basicHttpBinding" contract="OrderService.IOrdersService" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:40000/OrdersService" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
</configuration>