<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="srvMetadata">
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
            <service behaviorConfiguration="srvMetadata" name="OrderService.OrdersService">
                <endpoint address="soap"
                          binding="basicHttpBinding"
                          bindingConfiguration=""
                          name="basicHttpBinding"
                          contract="OrderService.IOrdersService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:40000/OrdersService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>