<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="NortwindDBConnection" connectionString="data source=.\mssql2008r2;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="srvMetadata">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="streamedHttpBinding" transferMode="Streamed"/>
            </basicHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="srvMetadata" name="WCFServices.CategoriesService.CategoriesService">
                <endpoint address="" 
                          bindingConfiguration="streamedHttpBinding"
                          binding="basicHttpBinding"
                          contract="WCFServices.CategoriesService.ICategoriesService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/CategoriesService" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="srvMetadata" name="WCFServices.OrdersService.OrdersService">
                <endpoint address=""
                          binding="basicHttpBinding"
                          contract="WCFServices.OrdersService.IOrdersService"/>
                <endpoint address="Subscribe"
                          binding="wsDualHttpBinding"
                          contract="WCFServices.OrdersSubscriptionService.IOrdersSubscriptionService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/OrdersService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>